@import url('https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Nunito", sans-serif;
}

.login {
  width: 382px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 90px;
  background: #213282;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: black;
  padding: 20px;
}

label {
  color: white;
  font-size: 17px;
}

#email {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#password {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

.loginButton {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background-color: #fcba03;
  font-weight: bold;
  font-size: 12px;
}

.header {
  font-family: "Nunito", sans-serif;
  text-align: "center;"
}

.loginSubtext {
  color: white;
  text-align: "center";
  font-family: "Source Sans Pro", sans-serif;
}