@import url('https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Nunito", sans-serif;
}

.register {
  width: 382px;
  height: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 90px;
  background: #53B175;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: black;
}

label {
  color: white;
  font-size: 15px;
}

#firstName {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#lastName {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#email {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#password {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

.button {
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: #53B175;
  background-color: white;
}

.back-button {
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 14px;
  background-color: #53B175;
  color: white;
  font-family: "Nunito", sans-serif;
  border: none;
  padding: 8px 25px;
}

.back-button:hover {
  background: #88D8A5;
}

.header {
  font-family: "Nunito", sans-serif;
  text-align: "center;"
}

.subtext {
  color: white;
  text-align: "center";
  font-family: "Source Sans Pro", sans-serif;
}